.containerWorks {
    width: 100%;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10%;
    gap: 50px;
}