.workContainer {

    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;

    .work {
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        width: 450px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        box-shadow: 0 15px 15px rgb(8, 8, 8);

        &:hover {
            box-shadow: 2px 2px 7px rgba(170, 170, 170, 0.801);
        }

        .buttonSite {
            padding: 8px 18px;
            border-radius: 15px;
            color: white;
            transition: all ease 0.2s;
            background: rgba(45, 45, 45, 0.645);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0);

            &:hover {

                background: rgba(255, 255, 255, 0.2);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(255, 255, 255, 0);
                color: black;
                font-weight: bold;

            }
        }
    }

    .work1 {

        background-image: url("src/resources/previewMercedesLlanos.jpeg");
    }

    .work2 {
        background-image: url("src/resources/previewZetaele.jpeg");
    }

    .work3 {
        background-image: url("src/resources/previewEnterMining.jpeg");
    }

    .work4 {
        background-image: url("src/resources/previewFlorenciaScannapieco.jpeg");
    }
}