
    .work {
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        background-size:100%;
        height: 250px;
        min-width: 40%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        box-shadow: 0 15px 15px rgb(8, 8, 8);
        transition: all ease .3s;
        
        &:hover {
           
            background-size: 103%;
        }

        .buttonSite {
            padding: 8px 18px;
            border-radius: 15px;
            color: white;
            transition: all ease 0.2s;
            background: rgba(45, 45, 45, 0.645);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0);

            &:hover {

                background: rgba(184, 155, 134,.65);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(255, 255, 255, 0);
                color: black;
                font-weight: bold;

            }
        }
    }

    .mercedesLlanos {

        background-image: url("src/resources/previewMercedesLlanos.jpeg");
    }

    .zetaele {
        background-image: url("src/resources/previewZetaele.jpeg");
    }

    .enterMining {
        background-image: url("src/resources/previewEnterMining.jpeg");
    }

    .florenciaScannapieco {
        background-image: url("src/resources/previewFlorenciaScannapieco.jpeg");
    }
